{% extends 'layouts/main.twig' %}

{% block content %}
        {% for good in goods %}
                <h1>{{ good.name }}</h1>
                <p>
                        <a href="/good/one?id={{good.id}}">
                                {{good.info}}
                        </a>
                </p>
        {% else %}
                <p>Нет товаров</p>
        {% endfor %}
{% endblock %}